---
layout: layout-ru-2col
---
:markdown
  О НАС:
  ======

  *Samovar Cook&Chat Club* - это клуб любителей путешествий, иностранных
  языков, культур и кухонь мира. Мы любим готовить, общаться, путешествовать
  и изучать иностранные языки. Мы создали место, где можно готовить и освоить
  иностранный язык одновременно ,поскольку считаем, что совместная готовка- это
  отличный способ в расслабленной, домашней атмосфере познакомиться с культурами
  и языками разных стран. Мы приглашем всех собраться за самоваром, приготовить и
  отведать блюда разных стран и выучить или попрактиковать любимый язык. Мы проводим
  кулинарные мастер-классы для всех возрастов от 4ех лет,
  для всех, кто хочет начать изучение иностранного языка(или познакомить ребенка с языком),
  причем сделать это в веселой
  и интересной форме. Для тех, кто уже говорит на языке, но кому не хватает практики(
  мастер-классы для взрослых ведутся носителями языка). На данный момент мы предлагаем
  следующие языки- английский, итальянский, французский, японский, испанский. Мы также
  планируем активно заниматься благотворительностью и всегда рады сотрудничеству со всеми,
  кому мы интересны.

  НАША КОМАНДА
  ============

  <img class="about_class" src="images/anna.png">

  Анна Харзеева
  -------------
  ### основатель и руководитель Samovar Cook&Chat Club

  Родилась и выросла в Москве, однако успела пожить в Австралии, где приобщилась
  к восточным кухням и познакомилась с многочисленными местными культурами.

  В Австралии понравилось настолько,что даже вышла замуж за австралийца (живущего
  в Москве). Очень любит меж-культурные отношения и обожает изучать иностранные языки, которые преподает уже 5 лет - детям
  и взрослым(английский и итальянский). Получила сертификат Cambridge для преподавателей английского языка. Закончила
  ИСАА МГУ, где выучила иврит и даже после института продолжает любить иностранные языки. Любит преподавать, путешествовать,
  есть и готовить - отсюда и родилась идея создать Samovar Cook&Chat Club. Любит вьетнамские спринг-роллы и сингапурскую
  лаксу, мечтает объездить Южную Америку. Изучает испанский.




  Наргиз Мухитдинова
  ------------------
  ### со-основатель, директор по развитию

  Родилась и выросла в маленьком городке на востоке Узбекистана.
  Приехала в Москву грызть гранит науки, чем занималась и по сей день. Но однажды, её однокурсница по институту, Анна Харзеева,
  предложила ей попробовать погрызть что-то ещё кроме «гранита»…. Так они стали вместе готовить! Закончила ИСАА МГУ, где
  изучала японский язык и пытается сейчас нести его в массы. Преподавала в Восточном Университете. Любит острые блюда,
  которыми славится вся юго-восточная кухня. Любимый напиток – молочный коктейль с карамелью и кленовым сиропом. Мечтает
  выучить французский…