---
layout: layout-ru-3col
---
%section.press
  %h3 ПРЕССА О НАС

  %article.press-mention
    = image_tag 'village_logo.jpg'
    .link
      http://www.the-village.ru/village/food/cuisine/
      108427-vremya-est-reportazh-s-kulinarnogo-
      masterklassa-samovarchik

  %article.press-mention
    = image_tag 'vedomosti_logo.jpg'
    .link
      http://www.vedomosti.ru/friday/article/2011/
      05/06/17184