//
.content {
  img {
    max-width: 100%;;
  }
}

//PAGE - about-us
.team-member {
  @include span-columns(9, 9);
  margin-bottom: 1em;
  img {
    @include span-columns(3, 9);
  }
  .description {
    @include span-columns(6 omega, 9);
  }
}

//PAGE - press about us
.press {
  article {
    @include span-columns(6, 6);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 7em;
  }
  img {
    @include span-columns(2, 6);
    max-height: 100%;

  }
  .info {
    @include span-columns(4 omega, 6);
    padding-top: 1em;
    .link {
      @include span-columns(6, 6);
      a, a:hover, a:visited {
        color: $color4;
      }
    }
    .caption {
      @include span-columns(6, 6);
      margin-top: 0.5em;
      span {
        color: gray;
      }
      .pub_date:before {
        content: " | ";
      }
    }
  }
}
//PAGE - partners
.partners {
  @include span-columns(6, 6);
  .partner {
    @include span-columns(2, 6);
    &:nth-child(3n) {
      @include omega;
    }
  }
  img {
    padding: 15px;
  }
}