//
.content {
  img {
    max-width: 100%;;
  }
}

//PAGE - about-us
.team-member {
  @include span-columns(9, 9);
  margin-bottom: 1em;
  img {
    @include span-columns(3, 9);
  }
  .description {
    @include span-columns(6 omega, 9);
  }
}

//PAGE - press about us
.press {
  article {
    @include span-columns(6, 6);
  }
  img {
    @include span-columns(2, 6);
  }
  .link {
    @include span-columns(4 omega, 6);
  }
}
//PAGE - partners
.partners {
  @include span-columns(6, 6);
  .partner {
    @include span-columns(2, 6);
    &:nth-child(3n) {
      @include omega;
    }
  }
  img {
    padding: 15px;
  }
}