---
layout: layout-en-3col
---
.home-text
  :markdown
    Cooking classes in English and other languages, kids Birthday parties, corporate events.
  
  
    [read more --->](about-us.html)

= image_tag 'samovar.png'