---
layout: layout-en-3col
---

%section.press
  %h1 PRESS ABOUT US

  %article.press-mention
    =image_tag 'press/cozymoscow.png'
    .info
      .link
        %a{:href => "http://cozymoscow.me/ludi/samovar-cookchat-club.html", :target => "_blank"}
          Samovar Cook&Chat Club
      .caption
        %span.source Cozy Moscow
        %span.pub_date February 2013

  %article.press-mention
    =image_tag 'press/biznes-kopilka.png'
    .info
      .link
        %a{:href => "http://www.biznes-kopilka.com/index.php/biznes-ideas/1030-biznes-na-kuhne", :target => "_blank"}
          Кухонный бизнес
      .caption
        %span.source biznes kopilka
        %span.pub_date January 2013

  %article.press-mention
    =image_tag 'press/businessblog.png'
    .info
      .link
        %a{:href => "http://biznesvbloge.ru/biznes-ideya-kulinarnye-master-klassy-dlya-inostrancev/", :target => "_blank"}
          Бизнес-идея №894. Кулинарные мастер-классы для иностранцев
      .caption
        %span.source biznesvbloge.ru
        %span.pub_date December 2012

  %article.press-mention
    =image_tag 'press/homebusiness.png'
    .info
      .link
        %a{:href => "http://www.homebusiness.ru/ideas/1770.htm", :target => "_blank"}
          МЕЖДУНАРОДНЫЙ БИЗНЕС НА МОСКОВСКОЙ КУХНЕ
      .caption
        %span.source homebusiness.ru
        %span.pub_date November 2012

  %article.press-mention
    =image_tag 'press/babeltogether-small.png'
    .info
      .link
        %a{:href => "http://babeltogether.com/?p=373", :target => "_blank"}
          Anna Kharzeeva: For the love of cooking
      .caption
        %span.source Babel together
        %span.pub_date August 2012

  %article.press-mention
    = image_tag 'press/element.gif'
    .info
      .link
        %a{:href => "http://www.elementmoscow.ru/main.php?article=2623", :target => "_blank"}
          cook away
      .caption
        %span.source Element
        %span.pub_date June 2012

  %article.press-mention
    = image_tag 'village_logo.jpg'
    .info
      .link
        %a{:href => "http://www.the-village.ru/village/food/cuisine/108427-vremya-est-reportazh-s-kulinarnogo-masterklassa-samovarchik", :target => "_blank"}
          Время есть: репортаж с кулинарного мастер–класса Samovar Cuisine Club
      .caption
        %span.source The Village
        %span.pub_date July 2011

  %article.press-mention
    = image_tag 'vedomosti_logo.jpg'
    .info
      .link
        %a{:href => "http://www.vedomosti.ru/friday/article/2011/05/06/17184", :target => "_blank"}
          Чистят, режут, жарят
      .caption
        %span.source Vedomosti
        %span.pub_date May 2011