%footer
  .content
    .contact-info
      %span.telephone 8 (926) 148-90-42
      %span.email samovarcc@yandex.ru

  :javascript
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  /code for underlining correct menu-item for current page
  /this is a bit of a hack at the moment but works for now
  :javascript
    $(document).ready(function(){
      var pathname = location.pathname
      var matched =  pathname.match(/.*\/([^/]+)\/([^/]+)\.([^?]+)/i);
      var lang = matched[1];
      var filename = matched[2];
      //alert("pathname: " + pathname + " filename: " + filename + " lang: " + lang)
      $('nav.primary li a').removeClass('selected');
      $('nav.primary li a.menu-' + lang + '-' + filename).addClass('selected');
    });

  /The twitter plugin javascript
  :javascript
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;js.src="https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");

  /the calendar plugin
  %link{:href => "/fullcalendar/fullcalendar.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "/fullcalendar/fullcalendar.js", :type => "text/javascript"}
  :javascript
    $(document).ready(function() {
      // page is now ready, initialize the calendar...
      $('#calendar').fullCalendar({
          // put your options and callbacks here
      })
    });