%footer
  .content
    .contact-info
      %span.telephone 8 (926) 148-90-42
      %span.email samovarcc@yandex.ru

  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
  :javascript
    window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
  = javascript_include_tag "site"

  :javascript
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  /code for underlining correct menu-item for current page
  -#:javascript
  -#  $(document).ready(function(){
  -#    var pathname = location.pathname;
  -#    $('nav.primary li').each(function(index){
  -#      alert(index + 'class: ' + $(this).css('class'))
  -#    });
  -#  });

  /code required by facebook social plugins
  /#fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  /The twitter plugin javascript
  :javascript
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;js.src="https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");

  /the calendar plugin
  %link{:href => "/fullcalendar/fullcalendar.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "/fullcalendar/fullcalendar.js", :type => "text/javascript"}
  :javascript
    $(document).ready(function() {
      // page is now ready, initialize the calendar...
      $('#calendar').fullCalendar({
          // put your options and callbacks here
      })
    });