/[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
%header.main
  %hgroup
    %a{ :href => '/en/index.html' }
      %h1 Samovar Cook&Chat Club
    = partial "module/social"
    .lang-selector
      = link_to 'RUS', '/ru/index.html'
    %h2 Language - Focused Cooking Classes

#menu
  %nav.primary
    %ul.l-inline
      %li
        =link_to 'about us', '/en/about-us.html', :class => 'menu-en-about-us'
      %li
        =link_to 'book a class', '/en/book-a-class.html', :class => 'menu-en-book-a-class'
      %li
        =link_to 'kids classes', '/en/kids.html', :class => 'menu-en-kids'
      %li
        =link_to 'gallery', '/en/gallery.html', :class => 'menu-en-gallery'
      %li
        =link_to 'press about us', '/en/press.html', :class => 'menu-en-press'
      %li
        =link_to 'community', '/en/community.html', :class => 'menu-en-community'
      %li
        =link_to 'our partners', '/en/partners.html', :class => 'menu-en-partners'
