@import "compass/typography/text/replacement";

hgroup {
  > h1 {
    @include span-columns(6, 12);
    @include replace-text("logo/logo-opt.png");
    height: 100%;
    font-size: 5.5em;
    margin: 0;
  }
  .social {
    @include prefix(3);
    @include span-columns(2, 12);
  }

  .lang-selector {
    @include span-columns(1 omega, 12);
    margin: 1em 0;
    a {
      margin: 0;
      float: right;
      text-decoration: none;
      color: $color4;
    }
  }
  h2 {
    @include push(1);
    @include span-columns(5 omega, 12);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding-top: 1.5em;
    word-spacing:0.25em;
    margin: 0;
    color: $color4;
  }
}

#menu {
  @include reset-columns;
  background-color: $color1;
  border-top: 5px $color4 solid;
}

nav.primary {
  @include container;
  padding: 0.5em 0;

  li {
    padding: 0 2em;
    a {
      color: white;
      text-decoration: none;
      &:hover, &:active {
        text-decoration: underline;
      }
    }

  }
}