%section.news
  .fb-like-box{"data-border-color" => "#8c7613;", "data-header" => "false",
  "data-href" => "https://www.facebook.com/SamovarCookChatClub", "data-show-faces" => "true", "data-stream" => "true", "data-width" => "364"}
