%section.news
  %h2 Новости

  %h3 Ближайшие мероприятия:

  %article.event
    .description
      %strong 15 апреля в 12.00 
      детский мастер
      класс на английском языке для детей 6-10лет. Испечем ароматный хлеб, сделаем 
      овощной салат и полезный десерт их 
      фруктов и йогурта! адрес Пречистенка 
      40/2,стр. 2 ресторан Образ жизни 
      (www.o-zh.ru) 
    .details
      обязательна предварительная запись - 
      +74992462029,+79269023158 
      стоимость участия 1000р.

  %article.event
    .description
      %strong 18 апреля в 19.30 
      кулинарный мастер-класс на английском языке для взрослых. Готовим греческий салат,
      питу,кальмары и яблочно-миндальный 
      тарт с поваром из Канады.
    .details
      обязательна предварительная запись - 
      samovarcc@yandex.ru, 2500р, 
      в ресторане DoDo - www.dodoproject.com

  %h3 Прошедшие мероприятия:

  %article.event
    .description
      %strong 5, 6 и 7 марта 
      изготовление hand made подарков в преддверии 8 марта! 
      Раскрашиваем печенья в форме 
      весенних цветов, делаем открытки 
      своими руками.

      Стоимость участия - 500р на 
      неограниченное количество подарков!
    .details
      18.00 -22.00 в Katie O'Sheas - 
      Грохольский переулок, д.26 стр. 5
      (5 минут от м.Проспект Мира) -
      http://www.katieosheas.ru/ru/node/4