-##templates
-#  .template.event
-#    .description
-#      .name XXX
-#      .date %strong 18 апреля в 19.30 
-#      .full
-#        кулинарный мастер-класс на английском языке для взрослых. Готовим греческий салат,
-#        питу,кальмары и яблочно-миндальный 
-#        тарт с поваром из Канады.
-#    .details
-#      обязательна предварительная запись - 
-#      samovarcc@yandex.ru, 2500р, 
-#      .location
-#        в ресторане DoDo - www.dodoproject.com


%section.news
  :javascript
    function loadNews() {
      FB.api('SamovarCookChatClub?fields=events.limit(10).fields(privacy,start_time,name,location,venue)' +
        '&access_token=' + $.samovarcc.APP_ACCESS_TOKEN, function(response){
        if (response.error){
          alert("data: " + response.error.message)
        }
        else if (response.events){
          var source   = $("#event-en").html();
          var template = Handlebars.compile(source);
          var now = new Date();
          //alert("response data: " + response.events.data)
          $.each(response.events.data, function(key, json) {
            var start_date = new Date(json.start_time);
            if (start_date.getTime() > now.getTime()){
              var event = $('<article>').addClass('event').appendTo('#upcoming-events');
              event.html(template(json));
            }
            else {
              var event = $('<article>').addClass('event').appendTo('#past-events');
              event.html(template(json))
            }

            //alert("event name: " + json.name + " key: " + key)
            //
            //$('div.template.event').children().clone().appendTo(event);//.trigger('adjustDetails');
          });
        }
      });
    }

  %h2 News

  %h3 Upcoming events

  #upcoming-events

  %h3 Past events

  #past-events
