%nav.social
  %ul.l-inline
    %li.social-icons-vkontakte
      = link_to 'vkontakte', 'http://vk.com/club32597124'
    %li.social-icons-facebook
      = link_to 'facebook', 'https://www.facebook.com/SamovarCookChatClub'
    %li.social-icons-livejournal
      = link_to 'livejournal', 'http://samovarcc.livejournal.com/'
    %li.social-icons-twitter
      = link_to 'twitter', 'https://twitter.com/samovarcc'