.messages
  #russian.page-wrap
    %h1 Место вниз для обслуживания
    <p>Извини, место в настоящее время вниз для некоторого запланированного обслуживания. Будет подпоркой скоро!</p>
  #english.page-wrap
    %h1 Site down for maintenance.
    <p>Sorry, the site is currently down for some planned maintenance. It will be back up soon!</p>
