---
layout: layout-ru-2col
---

#about-samovar
  =partial "about-samovar-ru"

%h1 OUR TEAM

.team-member
  = image_tag 'anna.png'
  .description
    = partial "about-anya-ru"

-#.team-member
-#  = image_tag 'karen.jpg'
-#  .description
-#    = partial "about-karen-ru"
-#
-#.team-member
-#  = image_tag 'dasha.jpg'
-#  .description
-#    = partial "about-dasha-ru"
-#
-#.team-member
-#  = image_tag 'francesca.jpg'
-#  .description
-#    = partial "about-francesca-ru"
-#
-#.team-member
-#  = image_tag 'raymond.jpg'
-#  .description
-#    = partial "about-raymond-ru"