---
layout: layout-ru-2col
---
// http://www.tn3gallery.com/facebook-plugin/

%script{:src => "js/jquery-1.7.1.min.js", :type => "text/javascript"}
%script{:src => "js/jquery.tn3.min.js", :type => "text/javascript"}
%script{:src => "js/tn3.facebook.min.js", :type => "text/javascript"}

:javascript
  external: [{
    origin: "facebook",
    ID: "some_user_id"
  }]


%h2 Gallery coming soon.