---
layout: layout-ru-3col
---
.home-text
  :markdown
    Кулинарные мастер-классы на иностранных языках, детские Дни Рождения и праздники, корпоративные мероприятия.
    
    [читать далее --->](about-us.html)

= image_tag 'samovar.png'