---
layout: layout-ru-3col
---
%section.press
  %h3 ПРЕССА О НАС

  %article.press-mention
    = image_tag 'village_logo.jpg'
    .link
      %a{:href => "http://www.the-village.ru/village/food/cuisine/108427-vremya-est-reportazh-s-kulinarnogo-masterklassa-samovarchik", :target => "_blank"}
        Время есть: репортаж с кулинарного мастер–класса Samovar Cuisine Club

  %article.press-mention
    = image_tag 'vedomosti_logo.jpg'
    .link
      %a{:href => "http://www.vedomosti.ru/friday/article/2011/05/06/17184", :target => "_blank"}
        Чистят, режут, жарят

  %article.press-mention
    = image_tag 'press/element.gif'
    .link
      %a{:href => "http://www.elementmoscow.ru/main.php?article=2623", :target => "_blank"}
        cook away

  %article.press-mention
    =image_tag 'press/babeltogether.png'
    .link
      %a{:href => "http://babeltogether.com/?p=373", :target => "_blank"}
        Anna Kharzeeva: For the love of cooking

  %article.press-mention
    =image_tag 'press/biznes-kopilka.png'
    .link
      %a{:href => "http://www.biznes-kopilka.com/index.php/biznes-ideas/1030-biznes-na-kuhne", :target => "_blank"}
        Кухонный бизнес

  %article.press-mention
    =image_tag 'press/businessblog.png'
    .link
      %a{:href => "http://biznesvbloge.ru/biznes-ideya-kulinarnye-master-klassy-dlya-inostrancev/", :target => "_blank"}
        Бизнес-идея №894. Кулинарные мастер-классы для иностранцев

  %article.press-mention
    =image_tag 'press/homebusiness.png'
    .link
      %a{:href => "http://www.homebusiness.ru/ideas/1770.htm", :target => "_blank"}
        МЕЖДУНАРОДНЫЙ БИЗНЕС НА МОСКОВСКОЙ КУХНЕ
