---
layout: layout-en-2col
---

#about-samovar
  =partial "about-samovar-en"

%h1 OUR TEAM

.team-member
  = image_tag 'anna.png'
  = partial "about-anna-en"

.team-member
  = image_tag 'nargis.png'
  = partial "about-nargis-en"