---
layout: layout-en-3col
---

:markdown
  Culinary and cultural workshops, which are held at various
  languages ​​and being chefs - native speakers.

  If you want to practice a foreign language, make delicious
  meals and socialize with interesting people - you here! select a language
  and sign up for workshops.
  If you are interested in English - choose English and Russian sections
  (Russian cuisine for foreigners and everyone).

  [read more --->](about-us.html)

= image_tag 'samovar.png'