---
layout: layout-en-3col
---

:markdown
  Language focused cooking classes in different languages that are conducted by native speaking chefs.
If you wanted to learn a foreign language, meet interesting and fun people or acquire new cooking skills in your native language, join us for a cooking class.


  [read more --->](about-us.html)

= image_tag 'samovar.png'